body{
	
	overflow:scroll;
}
.tempoExcedido
{
    color:red;
    font-weight: bold; 
    
}
.phrase 
{
    font-size:20px;
    text-align:left;
    
}
.typing-field
{
    font-size:20px;
    height: 100px;
    border: solid black 3px;
}
.typingFieldOff
{
    background-color: lightgray;
}
.icones
{
    vertical-align: middle;
}
.bordaVerde
{
    border:solid green 3px;
}
.bordaVermelha
{
	border: solid red 3px;
}
#tablePlacar
{
	display:none;
}
.erro
{
	color:red;
	display:none;
}
#spinner{
	
	display:none;
}
#search-phrase-id{
	
	width:40px;
}
#botao-sync{
	
	float:right;
}
.section-table-words{
	display:none;
}